$invalid-color: red;
$invalid-hover-color: darkred;
$required-color: #FF5C5C;
$warning: #ffa200;
$error-sub-color: #d40000;

.single-column-form {
    max-width: 500px;
    margin: 15px auto 0;

    .control {

        margin: 15px;
        text-align: left;

        &.input-error {
            margin-bottom: 0px;
        }

        input, p-calendar {
            width: 100%;
            display: block;
        }

        .p-dropdown, .p-content{
            width: 100%;
        }

        label {
            margin-bottom: 3px;
            margin-left: 6px;
            font-size: 15px;
        }
    }

    .two-buttons-section {
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
        position: absolute;
        bottom: 10px;
        transform: translateX(40%);

        button:first-child{
            margin-left: 0;
        }
        button:last-child{
            margin-right: 0;
        }
    }
}


.input-error, .input-warning {
    color: $invalid-color;
    font-size: 12px;

    label {
        font-size: 16px;
    }
}

.input-warning {
    color: $warning;
}

.ng-invalid.ng-touched, .invalid {
    border-color: $invalid-color;
}

.required {
    color: $required-color;
}

.error-sub {
    line-height: 1.5;
    color: $error-sub-color;
    font-weight: 700;
}

input::placeholder {
    color: #c1c1c1;
}


.primary-button,
.secondary-button {
    font-weight: 500;
    font-size: 15px;
    margin: 10px 20px;
    padding: 6px 25px;
    text-align: center;
    border: .2px solid gray;
    border-radius: 4px;
    transition: .3s;
    -webkit-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -3px rgba(0,0,0,0.75);
    cursor: pointer;
}

.primary-button{
    background-color: greenyellow;

    &:hover{
        background-color: green;
    }
}

.secondary-button{
    background-color: $required-color;
    &:hover{
        background-color: $error-sub-color;
    }
}
