.content{
    margin: 2px;
    padding: 5px;
    border-radius: 2px;
    background-color: #FFFEFE;
    border: 1px solid rgba(196, 195, 195, 0.445);
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 0.21);
    -moz-box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 0.21);
    box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 0.21);
    margin-top: 5px;
    min-height: 62px;
    line-height: 25px;
    position: relative;
        

    &:nth-child(2n){
        background-color: #9ee4e4;
    }
    
    .control{
        margin-right: 10px;
        color: black;
        transition: .3s;
        cursor: pointer;
        float: right;
        height: 25px;
        position: absolute;
        right: 0;
        top: 5px;

        & > div:hover{
            color: white;
        }

        &>div{
            float: left;
            margin-left: 5px;
        }

        .edit{
            display: block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 3px;
            text-align: center;
            background-color: #00a2ff;
            transition: .8s;
            font-weight: 600;

            &:hover{
                background-color: rgb(0, 47, 255);
            }
        }

        .remove{
            display: block;
            width: 25px;
            height: 25px;
            line-height: 25px;
            border-radius: 3px;
            text-align: center;
            background-color: #ff5f20;
            transition: .8s;
            font-weight: 600;

            &:hover{
                background-color: #ff0000;
            }
        }
    }

    .importancy{
        width: 18px;
        height: 18px;
        font-size: 12px;
        line-height: 18px;
        text-align: center;
        border: 1px solid gainsboro;
        border-radius: 2px;
        margin-right: 4px;

        &.p1{
            background-color: #e27272;
        }

        &.p2{
            background-color: #fff241;
        }

        &.p3{
            background-color: #4fec3a;
        }

        &.p4{
            background-color: #32daf0;
        }
    }

    .second-line{
        margin-left: 25px;
    }
}